*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans Arabic", sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(#081d06 20%, #216410 60%, #030303);
}
header{
    position: fixed;
    width: 100%;
    top:0;
    right: 0;
    z-index: 1000;
    padding: 28px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .7s ease;
    background: transparent;
}
.logo img{
    width: 40%;
    height: auto;
}
.navlinks a{
display: inline-block;
font-size: 1.5rem;
font-weight: 500;
color: #45f14e;
margin: 0 32px;
text-decoration: none;
transition: all .6s ease;
}
.navlinks a:hover{
    color:#fff;
    transform: scale(1.1) translateY(-5px);
}
.nav-side{
    display: flex;
    align-items: center;
}
.n-btn{
    display: inline-block;
    padding: 14px 25px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid  #45f14e;
    color: #fff;
    border-radius: 0.8rem;
    transition: all .7s ease;
    text-decoration: none;

}
.n-btn:hover{
    background: #45f14e;
    border: 1px solid #fff;
    color: white;
    transform: scale(1.07) translateY(-5px);
    
}
#menu-icon{
    font-size: 42px;
    z-index:10001;
    cursor: pointer;
    margin-left: 20px;
    display: none;
}
@media(max-width: 830px){
    .logo img{ 
        width: 100%;
    }
    .arrow-box{
      display: none;  
    }
    .hone{
        grid-template-columns: 1fr;
        height: 105vh;
    }
    .home-text{
        padding-top: 50px;
    }
    .home-img{
        text-align: center;
        margin: 0 auto;
    }
    .home-img img{
        max-width: 500px;
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    .about{
        grid-template-columns: 1fr;
    }
    .about-img{
        order: 2;
        text-align: center;
        margin: 0 auto;
    }
    .about-img img{
        max-width: 800px;
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    #menu-icon{
        display: initial;
    }
    .navlinks{
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 70px 50px;
        top: 0;
        right: 0;
        left: 100%;
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(10%);
        transition: all .7s ease-in-out;
    }
    .navlinks a{
        display: block;
        padding: 0;
        margin: 0px 0px 32px 0px;
        font-size: 1.8rem;
        font-weight: 400;
    }
    .navlinks.open{
        left: 0;
    }
   
}
@media(max-width: 700px){
      .home{
        height: 95vh;
      }
      section{
        padding: 70px 2%;
      }
      .contact-content{
        padding: 10px;
        
      }
      .s-links a{
        padding: 10px 18px;
        font-size: 13px;
        margin: 5px 4px;
      }
      .logo img{
        max-width: 30px;
      }
      .n-btn{
        padding: 10px 20px;
        font-size: 13px;
      }
}
